h1{
 color: #fff; 
 padding-left: 25px;
}

.headerss{
    color: white;
}

#todaytopic{
    padding-top: 25px;
}

.topic{
    color: white;
    width: 60%;
    height: 500px;
    margin: 0 auto;
    margin-top: 50px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px 10px 10px 10px;
}

.viewers{
    width: 450px;
    color: white;
    background-color: rgba(255,255,255,0.2);
    border-radius: 10px 0px 0px 10px;
    height: 650px;
    float: right;
    margin-top: 75px;
}